.vendas{
    background-image: url(../images/vendas.png);
    background-position: center;
    background-size: initial;
    width: 1080px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tituloMenuCard{
    background-color: rgba(216, 113, 28, 0.7);
    padding: 20px;
    color: #000;
    font-weight: bold;
    font-size: 34px;

}